<section>
  <ul id="nav_iconssss">
      <li class="post">
      <a href="{{ root_url }}/index.html" alt="Home"><img src="{{ root_url }}/images/Home.png"></a>
      <a href="{{ root_url }}/archives/" alt="Archives"><img src="{{ root_url }}/images/Calendar.png"></a>
      <a href="mailto:{{ site.email }}" alt="E-Mail"><img src="{{ root_url }}/images/Envelope.png"></a>
      <a href="{{ root_url }}/about-me" alt="About me"><img src="{{ root_url }}/images/aboutme.png"></a>
      </li>
  </ul>
</section>
